.mat-form-field{
	font-family: 'Gotham' !important;
	width: 100%;
} 


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

button{
	border-radius: 0;
}