*, body{
    line-height: 1.5;
}
.mat-select-value {
    line-height: 1.5;
}

.mat-form-field{
	font-family: 'Gotham-Light' !important;
	width: 100%;
} 


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

button{
	border-radius: 0;
}
button.btn.btn-md.col-md-4 {
    float: right;
    padding: 6px 0;
    margin-right: 24px;
}