<form name="form"   accept-charset="utf-8">
	
<div class="card-deck mb-3 text-center">
    <div class="card mb-12 box-shadow">
        <div class="card-header" style="background-color: #1F73B7; color:white;border-radius: 0;">
            <h6 class="my-0 font-weight-normal text-left">TIPIFICACIÓN</h6>
        </div>
        <div class="card-body">
           <div class="row">
           	<div class="col-md-6">
				<mat-form-field>
			        <mat-select placeholder="Canal *">
			            <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
			                {{ sexo.viewValue }}
			            </mat-option>
			        </mat-select>
			    </mat-form-field>
			</div> 
			<div class="col-md-6">
				<mat-form-field>
			        <mat-select placeholder="CSQ*">
			            <mat-option *ngFor="let food of foods" [value]="food.value">
			                {{ food.viewValue }}
			            </mat-option>
			        </mat-select>
			    </mat-form-field>
			</div> 
			<div class="col-md-6">
				<mat-form-field>
			        <mat-select placeholder="Tipificación*">
			            <mat-option *ngFor="let food of foods" [value]="food.value">
			                {{ food.viewValue }}
			            </mat-option>
			        </mat-select>
			    </mat-form-field>
			</div> 
			<div class="col-md-6">
				<mat-form-field>
			        <mat-select placeholder="Ínteres*">
			            <mat-option *ngFor="let food of foods" [value]="food.value">
			                {{ food.viewValue }}
			            </mat-option>
			        </mat-select>
			    </mat-form-field>
			</div> 
			<div class="col-md-12">
				<mat-form-field>
				  	<textarea matInput placeholder="Notas" matTextareaAutosize matAutosizeMinRows="4"     matAutosizeMaxRows="5"></textarea>
				</mat-form-field>
			</div>
			    
			</div>
        </div>
    </div>
</div>

<div class="card-deck mb-3 text-center">

	<div class="card mb-12 box-shadow">
        <div class="card-header" style="background-color: #1F73B7; color:white;border-radius: 0;">
            <h6 class="my-0 font-weight-normal text-left">CONTACTO</h6>
        </div>
        <div class="card-body">
           <div class="row">
           		<div class="col-md-6">
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput formControlName="nombre" name="nombre" placeholder="Nombre*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Apellido Paterno*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Apellido Materno*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
						    <input matInput placeholder="Email">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Numero de Celular(10 digitos)*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Teléfono*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Género*">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Canal Preferido*">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Fecha de Nacimiento*">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>	
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Edad*" value="">
						</mat-form-field>
           			</div>			
				</div>

				<div class="col-md-6">
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Nombre*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Apellido Paterno*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Apellido Materno*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Correo Electrónico*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Numero de Celular(10 digitos)*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field class="example-full-width">
				    		<input matInput placeholder="Teléfono*" value="">
						</mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Parentezco*">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>           			
				</div> 
			</div>
        </div>
    </div>
</div>


<div class="card-deck mb-3 text-center">
    <div class="card mb-12 box-shadow">
        <div class="card-header" style="background-color: #1F73B7; color:white;border-radius: 0;">
            <h6 class="my-0 font-weight-normal text-left">ÍNTERES</h6>
        </div>
        <div class="card-body">
           <div class="row">
           	 	<div class="col-md-6">
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Campus*">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Nivel*">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>
           			
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Modalidad*">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>	
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Carrera*">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>	

           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Ciclo*">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>	
				</div>

				<div class="col-md-6">
           			<div class="col-md-12" style="height: 65.5px"> </div>
           			<div class="col-md-12" style="height: 65.5px"></div>
           			
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Número de Persona">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>	
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Etapa de Venta*">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>	

           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Número de Cuenta">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>	
				</div>
			</div>
        </div>
    </div>
</div>

<div class="card-deck mb-3 text-center">
    <div class="card mb-12 box-shadow">
        <div class="card-header" style="background-color: #1F73B7; color:white;border-radius: 0;">
            <h6 class="my-0 font-weight-normal text-left">CITA</h6>
        </div>
        <div class="card-body">
           <div class="row">
           	 	<div class="col-md-6">
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Campus	">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Fecha">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>

           			<div class="col-md-12">
           				<section class="example-section">
					      <mat-checkbox class="example-margin" >C | Callback</mat-checkbox>
					    </section>
           			</div>	
           			
           			 
				</div>

				<div class="col-md-6">
           			 
           			
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="PI/Equi">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>	
           			<div class="col-md-12">
           				<mat-form-field>
					        <mat-select placeholder="Hora">
					            <mat-option *ngFor="let food of foods" [value]="food.value">
					                {{ food.viewValue }}
					            </mat-option>
					        </mat-select>
					    </mat-form-field>
           			</div>	
					<div class="col-md-12">
           				<section class="example-section">
					      <mat-checkbox class="example-margin" >C | Transferencia en Linea</mat-checkbox>
					    </section>
           			</div>	
				</div>
			</div>
        </div>
    </div>
</div>

<div class="mb-3 text-center">
	<div class="row">
        <div class="col-md-6 text-left">
            <a href="#" class="p-4 font-weight-bold" >Capturar Referido</a>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-md btn-outline-warning col-md-4" style="background-color: #F28731; color: white;">GUARDAR</button>
            <button type="button" class="btn btn-md btn-outline-primary col-md-4" style="background-color: #1F73B7; color: white;">CANCELAR</button>
        </div>
    </div>
</div>
</form>