<div class="general-container">
    <!-- Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- End usuario-container -->
        <style type="text/css">
        .text-form .mat-form-field-infix {
            border-top: 38px solid transparent;
        }
        </style>
        <!-- contacto-container-->
        <div class="contacto-container">
            <div class="row">
                <div class="col col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Búsqueda </h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="text-form">
                                        <input matInput placeholder="Correo Electrónico" formControlName="p_email">
                                        <mat-error *ngIf="registerForm.controls['p_email'].hasError('emailWord')">
                                            Correo Inválido
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="text-form">
                                        <input maxlength="10" minlength="10" matInput (keypress)="onKeydownNumber($event)" placeholder="Teléfono" formControlName="p_telefono">
                                        <mat-error *ngIf="registerForm.controls['p_telefono'].hasError('required')">
                                            Ingresa número de Teléfono
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_telefono'].hasError('minlength') && !registerForm.controls['p_telefono'].hasError('required')">
                                            Al menos debe contener 10 dígitos
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="text-form">
                                        <input matInput (keypress)="onKeydownLetter($event)" placeholder="Nombre" formControlName="p_nombre">
                                        <mat-error *ngIf="registerForm.controls['p_nombre'].hasError('required')">
                                            Por favor ingresa un nombre
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_nombre'].hasError('minlength') && !registerForm.controls['p_nombre'].hasError('required')">
                                            Al menos debe contener 3 dígitos
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="text-form">
                                        <input matInput (keypress)="onKeydownLetter($event)" placeholder="Apellido Paterno" formControlName="p_apellido_paterno">
                                        <mat-error *ngIf="registerForm.controls['p_apellido_paterno'].hasError('required')">
                                            Por favor ingresa un apellido paterno
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_apellido_paterno'].hasError('minlength') && !registerForm.controls['p_apellido_paterno'].hasError('required')">
                                            Al menos debe contener 3 dígitos
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="text-form">
                                        <input matInput (keypress)="onKeydownLetter($event)" placeholder="Apellido Materno" formControlName="p_apellido_materno">
                                        <mat-error *ngIf="registerForm.controls['p_apellido_materno'].hasError('required')">
                                            Por favor ingresa un apellido materno
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_apellido_materno'].hasError('minlength') && !registerForm.controls['p_apellido_materno'].hasError('required')">
                                            Al menos debe contener 3 dígitos
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="text-form">
                                        <input matInput (keypress)="onKeydownNumber($event)"  placeholder="Número de personas" formControlName="p_numero_persona">
                                        <mat-error *ngIf="registerForm.controls['p_numero_persona'].hasError('required')">
                                            Por favor ingresa número de personas
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_numero_persona'].hasError('minlength') && !registerForm.controls['p_apellido_materno'].hasError('required')">
                                            Al menos debe contener 3 dígitos
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="text-form">
                                        <input matInput (keypress)="onKeydownNumber($event)" placeholder="Número de cuenta" formControlName="p_numero_cuenta">
                                        <mat-error *ngIf="registerForm.controls['p_numero_cuenta'].hasError('required')">
                                            Por favor ingresa numero de cuenta
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_numero_cuenta'].hasError('minlength') && !registerForm.controls['p_apellido_materno'].hasError('required')">
                                            Al menos debe contener 3 dígitos
                                        </mat-error>
                                    </mat-form-field>
                                    
                                    
                                </div>
                            </div>
                            <div class="opcion-container">
                                <div class="row">
                                    <div class="col col-lg-12">
                                        <div class="row">
                                            <div class="col col-lg-6">
                                                <div class="boton-cancelar">
                                                    <button mat-button type="button" (click)="resetForm()">Cancelar</button>
                                                </div>
                                            </div>
                                            <div class="col col-lg-6">
                                                <div class="boton-guardar">
                                                    <button mat-button type="submit">BUSCAR</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End contacto-container -->
        <!-- opcion-container -->
        <!-- End opcion-container -->
    </form>
    <!-- end form -->
</div>
<!-- end new-register-container -->