div.nuevo-registro-solovino-container{
    margin-top: 50px;
    div.contacto-container,
    div.interes-container{
        margin-bottom: 50px;
        div.card-header{
            padding: 8px 0 8px 30px;
            background-color: #006fba;
            h5.card-title{
                font-size: 17px;
                margin-bottom: 0;
                text-transform: uppercase;
                color: #ffffff;
            }       
        }
        div.card-body{
            padding: 20px 30px;
            label{
                margin-bottom: 0;
            }
            mat-form-field{
                width: 100%;
            }
            #telefono{
                margin-top: 24px;
            }
        }
    }
    div.opcion-container{
        margin: 50px 0;
        div{
            &.boton-guardar{
                background-color:#f68b1f;
            }
            &.boton-cancelar{
                background-color:#757575;
            } 
        }
        button{
            width: 100%;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
    div.contacto-container{
        div.card-body{
            div.title{
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
            }
            #checkbox_email{
                margin: 20px 0;
            }
        }
    }
    div.usuario-container{
        margin-bottom: 10px;
        mat-form-field{
            width: 100%;
        }
    }
    div.interes-opcion-container{
        margin-top: 30px;
        div.boton-asignar,
        div.boton-directa,
        div.boton-grupal{
            background-color:#757575;
        }
        button{
            width: 100%;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
}

div.interes-opcion-container{
    margin-top: 30px;
    div.boton-asignar,
    div.boton-directa,
    div.boton-grupal{
        background-color:#757575;
    }
    button{
        width: 100%;
        text-transform: uppercase;
        color: #ffffff;
    }
}