<div class="login">
    <div class="head-blue">
        ACCESO A USUARIOS REGISTRADOS
    </div>

    <div class="form" style=" padding: 20px 10%; ">
        <mat-form-field>
            <input #username matInput placeholder="Usuario" [(ngModel)]="user.username" required>
            <mat-error *ngIf="inputError == 'username'">{{txtError}}</mat-error>
        </mat-form-field>
        <br>
    </div>
    <div class="form" style=" background-color: transparent; border: none; padding: 0; ">
        <div class="btn" style="width: 100%;">            
            <button mat-raised-button color="warn" (click)="onLogin()" style="float: right; display: block;">CONTINUAR</button>  
        </div>
    </div>
</div>