<form [formGroup]="form">
    <div class="register">
        <div class="form no_border">
            <mat-grid-list class="" cols="2" rowHeight="70px">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Usuario" formControlName="user" value="Ricardo Vargas" readonly>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select placeholder="Ejecutivo" formControlName="ejecutivo">
                            <mat-option *ngFor="let asesor of asesores;" [value]="asesor['Nombre Asesor']">
                                {{ asesor['Nombre Asesor'] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <div class="register">
        <div class="head-blue mt">
            TIPIFICACIÓN
        </div>
        <div class="form">
            <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile>
                    <mat-checkbox formControlName="actvidadNoTradicional">Actividad no Tradicional</mat-checkbox>
                </mat-grid-tile>
                <mat-grid-tile>
                    &nbsp;
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select placeholder="Sub Tipo de Actividad" formControlName="subTipoActividad" required>
                            <mat-option value="0">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let tipo_actividad of tipo_actividades;" [value]="tipo_actividad['crmit_name']">
                                {{ tipo_actividad['crmit_name'] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select placeholder="Actividad de Agenda" formControlName="company" required>
                            <mat-option value="0">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let tipo_actividad of tipo_actividades;" [value]="tipo_actividad['crmit_name']">
                                {{ tipo_actividad['crmit_name'] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select placeholder="Sub Sub Tipo de Actividad" formControlName="SubSubTipoActividad" required>
                            <mat-option value="0">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let sub_tipo_actividad of sub_tipo_actividades;" [value]="sub_tipo_actividad['Sub tipo de actividad']">
                                {{ sub_tipo_actividad['Sub tipo de actividad'] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select placeholder="Turno" formControlName="turno" required>
                            <mat-option value="0">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let turno of turnos;" [value]="turno['crmit_name']">
                                {{ turno['crmit_name'] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select placeholder="Escuela/Empresa" formControlName="school" required>
                            <mat-option value="0">Selecciona una opción</mat-option>
                            <mat-option value="val1">val1</mat-option>
                            <mat-option value="val2">val2</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Calidad" formControlName="calidad" required>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </div>


        <div class="head-blue mt">
            CONTACTO
        </div>
        <div class="form2">
            <div style="width: 50%;float: left;display: block;">
                <div style="width: 96%;float: left;display: block;">
                    <mat-grid-list cols="1" rows="1" rowHeight="40px" class="rol">
                        <mat-grid-tile>
                            PROSPECTO
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="name" matInput placeholder="Nombre" (keyup)="onChange()" (keypress)="_keyPressTxt($event)" (keypress)="_keyOnly3letter($event,form.controls.name.value)">
                        <mat-error *ngIf="form.controls.name.errors?.required">Por favor ingresa un nombre </mat-error>
                        <mat-error *ngIf="form.controls.name.errors?.palabraMala && !form.controls.name.errors?.required">Nombre inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="patern" matInput placeholder="Apellido Paterno" (keyup)="onChange()" (keypress)="_keyPressTxt($event)" (keypress)="_keyOnly3letter($event,form.controls.patern.value)">
                        <mat-error *ngIf="form.controls.patern.errors?.required">Por favor ingresa un apellido paterno</mat-error>
                        <mat-error *ngIf="form.controls.patern.errors?.palabraMala && !form.controls.patern.errors?.required">Apellido Paterno inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="matern" matInput minlength="10" placeholder="Apellido Materno" (keyup)="onChange()" (keypress)="_keyPressTxt($event)" (keypress)="_keyOnly3letter($event,form.controls.matern.value)">
                        <mat-error *ngIf="form.controls.matern.errors?.required">Por favor ingresa un apellido materno</mat-error>
                        <mat-error *ngIf="form.controls.matern.errors?.palabraMala && !form.controls.matern.errors?.required">Apellido Materno inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="mail" matInput placeholder="Correo Electrónico" required>
                        <mat-error *ngIf="form.controls.mail.errors?.required">Por favor ingresa un correo electrónico</mat-error>
                        <mat-error *ngIf="form.controls.mail.errors?.emailMalo && !form.controls.mail.errors?.required">Correo Inválido </mat-error>
                    </mat-form-field>
                    <div style="height: 41px; padding-top: 25px;">
                        <mat-checkbox (change)="addValidation($event)" value="sinmail">Sin Correo Electrónico</mat-checkbox>
                    </div>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="cel" matInput placeholder="Número Celular (10 dígitos)" required minLength="10" maxLength="10" type="tel" (keypress)="_keyPress($event)">
                        <mat-error *ngIf="form.controls.cel.errors?.required">Ingresa número de celular</mat-error>
                        <mat-error *ngIf="form.controls.cel.errors?.minlength && !form.controls.cel.errors?.required">Al menos debe contener 10 dígitos</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="phone" matInput placeholder="Teléfono" required minlength="10" maxlength="10" type="tel" (keypress)="_keyPress($event)">
                        <mat-error *ngIf="form.controls.phone.errors?.required">Ingresa número de Teléfono</mat-error>
                        <mat-error *ngIf="form.controls.phone.errors?.minlength && !form.controls.phone.errors?.required">Al menos debe contener 10 dígitos</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="gender" placeholder="Género" required>
                            <mat-option value="">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let genero of generos;" [value]="genero['genero']">
                                {{ genero['genero'] }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.gender.errors?.required">Elige un Género</mat-error>

                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="birthday" matInput [matDatepicker]="pickerB" readonly placeholder="Fecha de Nacimiento">
                        <mat-datepicker-toggle matSuffix [for]="pickerB"></mat-datepicker-toggle>
                        <mat-datepicker #pickerB startView="year" [startAt]="startDate" disabled="false"></mat-datepicker>
                        <mat-error *ngIf="form.controls.birthday.errors?.required">Ingresa una Fecha de Nacimiento </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="edad" matInput placeholder="Edad" type="tel" (keypress)="_keyPress($event)" minlength="2" maxlength="2">
                        <mat-error *ngIf="form.controls.edad.errors?.required">Ingresa número de Teléfono</mat-error>
                        <mat-error *ngIf="form.controls.edad.errors?.minlength && !form.controls.edad.errors?.required">Al menos debe contener 2 dígitos</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div style="width: 50%;float: left;display: block;">
                <div style="width: 100%;float: left;display: block;">
                    <mat-grid-list cols="1" rows="1" rowHeight="40px" class="rol">
                        <mat-grid-tile>
                            ¿QUIÉN SE REGISTRA?
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="nameRegis" (keyup)="onKeydownEmail($event)" (keypress)="_keyOnly3letter($event,form.controls.nameRegis.value)" matInput placeholder="Nombre" (keypress)="_keyPressTxt($event)">
                        <mat-error *ngIf="form.controls.nameRegis.errors?.required">Por favor ingresa un nombre </mat-error>
                        <mat-error *ngIf="form.controls.nameRegis.errors?.palabraMala && !form.controls.nameRegis.errors?.required">Nombre inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="paternRegis" (keypress)="_keyOnly3letter($event,form.controls.paternRegis.value)" matInput placeholder="Apellido Paterno" (keypress)="_keyPressTxt($event)">
                        <mat-error *ngIf="form.controls.paternRegis.errors?.required">Por favor ingresa un apellido paterno</mat-error>
                        <mat-error *ngIf="form.controls.paternRegis.errors?.palabraMala && !form.controls.paternRegis.errors?.required">Apellido Paterno inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="maternRegis" (keypress)="_keyOnly3letter($event,form.controls.maternRegis.value)" matInput placeholder="Apellido Materno" (keypress)="_keyPressTxt($event)">
                        <mat-error *ngIf="form.controls.maternRegis.errors?.required">Por favor ingresa un apellido materno</mat-error>
                        <mat-error *ngIf="form.controls.maternRegis.errors?.palabraMala && !form.controls.maternRegis.errors?.required">Apellido Materno inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="mailRegis" matInput placeholder="Correo Electrónico">
                        <mat-error *ngIf="form.controls.mailRegis.errors?.required">Por favor ingresa un correo electrónico</mat-error>
                        <mat-error *ngIf="form.controls.mailRegis.errors?.emailMalo && !form.controls.mailRegis.errors?.required">Correo Inválido </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="celRegis" matInput placeholder="Número Celular (10 dígitos)" maxlength="10" minlength="10" type="tel" (keypress)="_keyPress($event)">
                        <mat-error *ngIf="form.controls.celRegis.errors?.required">Ingresa número de celular</mat-error>
                        <mat-error *ngIf="form.controls.celRegis.errors?.minlength && !form.controls.celRegis.errors?.required">Al menos debe contener 10 dígitos</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input autocomplete="off" formControlName="phoneRegis" matInput placeholder="Teléfono" maxlength="10" minlength="10" type="tel" (keypress)="_keyPress($event)">
                        <mat-error *ngIf="form.controls.phoneRegis.errors?.required">Ingresa número de Teléfono</mat-error>
                        <mat-error *ngIf="form.controls.phoneRegis.errors?.minlength && !form.controls.phoneRegis.errors?.required">Al menos debe contener 10 dígitos</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="parentRegis" placeholder="Parentesco">
                            <mat-option value="">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let parentesco of parentescos;" [value]="parentesco['crmit_name']">
                                {{ parentesco['crmit_name'] }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.parentRegis.errors?.required">Elige un Parentesco</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div style="clear: both; height: 0; display: block;"></div>
        </div>


        <div class="head-blue mt">
            ÍNTERES
        </div>
        <div class="form">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select formControlName="interestCampus" placeholder="Campus" required>
                            <mat-option value="">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let campu of campus;" [value]="campu['crmi_name']">
                                {{ campu['crmi_name'] }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.interestCampus.errors?.required">Elige un Parentesco</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select formControlName="interestArea" placeholder="Área Ínteres" required>
                            <mat-option value="">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let interes of intereses;" [value]="interes['Área Interes']">
                                {{ interes['Área Interes'] }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.interestArea.errors?.required" required>Elige una Área de Interés</mat-error>

                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select formControlName="interestNivel" placeholder="Nivel" required>
                            <mat-option value="">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let nivel of niveles;" [value]="nivel['crmit_name']">
                                {{ nivel['crmit_name'] }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.interestNivel.errors?.required">Elige un Campus</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Número de Persona" formControlName="numPersona" value="" readonly>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select formControlName="interestModalidad" placeholder="Modalidad" required>
                            <mat-option value="">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let modalidad of modalidades;" [value]="modalidad['crmit_name']">
                                {{ modalidad['crmit_name'] }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.interestModalidad.errors?.required">Elige una Modalidad</mat-error>

                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Etapa de Venta" formControlName="etapaVenta" value="" readonly>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select formControlName="interestCarrera" placeholder="Carrera" required>
                            <mat-option value="">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let carrera of carreras;" [value]="carrera['productnumber']">
                                {{ carrera['productnumber'] }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.interestModalidad.errors?.required">Elige una Carrera</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput placeholder="Número de Cuenta" formControlName="numCuenta" value="" readonly>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-select formControlName="interestCiclo" placeholder="Ciclo" required>
                            <mat-option value="">Selecciona una opción</mat-option>
                            <mat-option *ngFor="let ciclo of ciclos;" [value]="ciclo['crmit_name']">
                                {{ ciclo['crmit_name'] }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.interestCiclo.errors?.required">Indica cuando quieres entrar.</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    &nbsp;
                </mat-grid-tile>
            </mat-grid-list>
        </div>


        <mat-grid-list cols="2" rowHeight="70px" style="margin-bottom: 50px;">
            <mat-grid-tile class="le">
                Capturar Referido
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="btn">
                    <button mat-raised-button color="warn" class="cancel">CANCELAR</button>
                    <button mat-raised-button color="warn" (click)="onSubmit()">GUARDAR</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</form>