/* You can add global styles to this file, and also import other style files */
/*--- App Component ---*/
h1 {
  font-size: 100px;
}

ul li a {
  color: red;
}

/*--- Home Component ---*/
body {
  color: red;
}
