/* You can add global styles to this file, and also import other style files */
/*--- Angular Material Theme ---*/
@import url(~@angular/material/prebuilt-themes/indigo-pink.css);
/*--- App Component ---*/
.mat-error {
  color: #f68b1f !important;
}

mat-form-field.mat-form-field-type-mat-select.ng-valid label.mat-form-field-label {
  display: none !important;
}

.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #212529 !important;
}

.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  color: #f68b1f !important;
}

.mat-form-field-invalid .mat-form-field-label {
  color: #060100 !important;
}

.mat-focused .mat-form-field-label {
  color: #757575 !important;
}

.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: #f68b1f !important;
}

.mat-form-field-label {
  color: black;
}

.mat-form-field {
  line-height: 1.4 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #006fba;
}

.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
  color: #f68b1f;
}

.mat-form-field-underline .mat-form-field-ripple {
  background-color: #33ca6d;
}

.mat-form-field-invalid .mat-form-field-underline .mat-form-field-ripple {
  background-color: #f68b1f;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #006fba;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #33ca6d !important;
}

.hidden {
  display: block !important;
  color: #757575 !important;
}

.color-gray {
  color: #757575 !important;
  font-size: 12px;
  position: absolute;
  top: -7px;
}

/*--- Home Component ---*/
/*--- Nuevo Registro Component ---*/
div.nuevo-registro-container {
  margin-top: 50px;
}
div.nuevo-registro-container div.llamada-container,
div.nuevo-registro-container div.contacto-container,
div.nuevo-registro-container div.interes-container,
div.nuevo-registro-container div.citas-container,
div.nuevo-registro-container div.tipificacion-container {
  margin-bottom: 50px;
}
div.nuevo-registro-container div.llamada-container div.card-header,
div.nuevo-registro-container div.contacto-container div.card-header,
div.nuevo-registro-container div.interes-container div.card-header,
div.nuevo-registro-container div.citas-container div.card-header,
div.nuevo-registro-container div.tipificacion-container div.card-header {
  padding: 8px 0 8px 30px;
  background-color: #006fba;
}
div.nuevo-registro-container div.llamada-container div.card-header h5.card-title,
div.nuevo-registro-container div.contacto-container div.card-header h5.card-title,
div.nuevo-registro-container div.interes-container div.card-header h5.card-title,
div.nuevo-registro-container div.citas-container div.card-header h5.card-title,
div.nuevo-registro-container div.tipificacion-container div.card-header h5.card-title {
  font-size: 17px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #ffffff;
}
div.nuevo-registro-container div.llamada-container div.card-body,
div.nuevo-registro-container div.contacto-container div.card-body,
div.nuevo-registro-container div.interes-container div.card-body,
div.nuevo-registro-container div.citas-container div.card-body,
div.nuevo-registro-container div.tipificacion-container div.card-body {
  padding: 20px 30px;
}
div.nuevo-registro-container div.llamada-container div.card-body label,
div.nuevo-registro-container div.contacto-container div.card-body label,
div.nuevo-registro-container div.interes-container div.card-body label,
div.nuevo-registro-container div.citas-container div.card-body label,
div.nuevo-registro-container div.tipificacion-container div.card-body label {
  margin-bottom: 0;
}
div.nuevo-registro-container div.llamada-container div.card-body mat-form-field,
div.nuevo-registro-container div.contacto-container div.card-body mat-form-field,
div.nuevo-registro-container div.interes-container div.card-body mat-form-field,
div.nuevo-registro-container div.citas-container div.card-body mat-form-field,
div.nuevo-registro-container div.tipificacion-container div.card-body mat-form-field {
  width: 100%;
}
div.nuevo-registro-container div.llamada-container div.card-body #telefono,
div.nuevo-registro-container div.contacto-container div.card-body #telefono,
div.nuevo-registro-container div.interes-container div.card-body #telefono,
div.nuevo-registro-container div.citas-container div.card-body #telefono,
div.nuevo-registro-container div.tipificacion-container div.card-body #telefono {
  margin-top: 24px;
}
div.nuevo-registro-container div.opcion-container {
  margin: 50px 0;
}
div.nuevo-registro-container div.opcion-container div.boton-guardar {
  background-color: #f68b1f;
}
div.nuevo-registro-container div.opcion-container div.boton-cancelar {
  background-color: #757575;
}
div.nuevo-registro-container div.opcion-container button {
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
}
div.nuevo-registro-container div.contacto-container div.card-body div.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}
div.nuevo-registro-container div.contacto-container div.card-body #checkbox_email {
  margin: 20px 0;
}
div.nuevo-registro-container div.usuario-container {
  margin-bottom: 10px;
}
div.nuevo-registro-container div.usuario-container mat-form-field {
  width: 100%;
}

/*--- Nuevo Registro Solovino Component ---*/
div.nuevo-registro-solovino-container {
  margin-top: 50px;
}
div.nuevo-registro-solovino-container div.contacto-container,
div.nuevo-registro-solovino-container div.interes-container {
  margin-bottom: 50px;
}
div.nuevo-registro-solovino-container div.contacto-container div.card-header,
div.nuevo-registro-solovino-container div.interes-container div.card-header {
  padding: 8px 0 8px 30px;
  background-color: #006fba;
}
div.nuevo-registro-solovino-container div.contacto-container div.card-header h5.card-title,
div.nuevo-registro-solovino-container div.interes-container div.card-header h5.card-title {
  font-size: 17px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #ffffff;
}
div.nuevo-registro-solovino-container div.contacto-container div.card-body,
div.nuevo-registro-solovino-container div.interes-container div.card-body {
  padding: 20px 30px;
}
div.nuevo-registro-solovino-container div.contacto-container div.card-body label,
div.nuevo-registro-solovino-container div.interes-container div.card-body label {
  margin-bottom: 0;
}
div.nuevo-registro-solovino-container div.contacto-container div.card-body mat-form-field,
div.nuevo-registro-solovino-container div.interes-container div.card-body mat-form-field {
  width: 100%;
}
div.nuevo-registro-solovino-container div.contacto-container div.card-body #telefono,
div.nuevo-registro-solovino-container div.interes-container div.card-body #telefono {
  margin-top: 24px;
}
div.nuevo-registro-solovino-container div.opcion-container {
  margin: 50px 0;
}
div.nuevo-registro-solovino-container div.opcion-container div.boton-guardar {
  background-color: #f68b1f;
}
div.nuevo-registro-solovino-container div.opcion-container div.boton-cancelar {
  background-color: #757575;
}
div.nuevo-registro-solovino-container div.opcion-container button {
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
}
div.nuevo-registro-solovino-container div.contacto-container div.card-body div.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}
div.nuevo-registro-solovino-container div.contacto-container div.card-body #checkbox_email {
  margin: 20px 0;
}
div.nuevo-registro-solovino-container div.usuario-container {
  margin-bottom: 10px;
}
div.nuevo-registro-solovino-container div.usuario-container mat-form-field {
  width: 100%;
}
div.nuevo-registro-solovino-container div.interes-opcion-container {
  margin-top: 30px;
}
div.nuevo-registro-solovino-container div.interes-opcion-container div.boton-asignar,
div.nuevo-registro-solovino-container div.interes-opcion-container div.boton-directa,
div.nuevo-registro-solovino-container div.interes-opcion-container div.boton-grupal {
  background-color: #757575;
}
div.nuevo-registro-solovino-container div.interes-opcion-container button {
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
}

div.interes-opcion-container {
  margin-top: 30px;
}
div.interes-opcion-container div.boton-asignar,
div.interes-opcion-container div.boton-directa,
div.interes-opcion-container div.boton-grupal {
  background-color: #757575;
}
div.interes-opcion-container button {
  width: 100%;
  text-transform: uppercase;
  color: #ffffff;
}

/*--- Dialog Component ---*/
.dialog-container .boton-cancelar {
  position: relative;
  top: 60px;
  background-color: #757575;
}
.dialog-container .boton-cancelar button {
  text-transform: uppercase;
  width: 100%;
  color: #ffffff;
}
