div.general-container {
    margin-top: 50px;
    div.usuario-container,
    div.contacto-container,
    div.interes-container,
    div.citas-container,
    div.tipificacion-container {
        margin-bottom: 50px;
        div.card-body .input-left {
            margin-top: 24px;
        }
        div.card-header {
            padding: 8px 0 8px 30px;
            background-color: #006fba;
            h5.card-title {
                font-size: 17px;
                margin-bottom: 0;
                text-transform: uppercase;
                color: #ffffff;
            }
        }
        div.card-body {
            padding: 20px 30px;
            label {
                margin-bottom: 0;
            }
            mat-form-field {
                width: 100%;
            }
            #telefono {
                margin-top: 24px;
            }
        }
    }
    div.opcion-container {
        margin: 50px 0;
        div {
            &.boton-guardar {
                background-color: #f68b1f;
            }
            &.boton-cancelar {
                background-color: #757575;
            }
        }
        button {
            width: 100%;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
    div.contacto-container {
        div.card-body {
            div.title {
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
            }
            #checkbox_email {
                margin: 20px 0;
            }
        }
    }
    div.interes-container {
        div.card-body {
            padding: 20px 30px;
            div.space {
                div.blocke {
                    height: 250px !important;
                    mat-form-field {
                        height: 100px;
                    }
                }
            }
            label {
                margin-bottom: 0;
            }
            mat-form-field {
                width: 100%;
            }
            #telefono {
                margin-top: 24px;
            }
        }
    }
    div.usuario-container {
        margin-bottom: 10px;
        mat-form-field {
            width: 100%;
        }
    }
}