<div class="general-container">
    <!-- Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="usuario-container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">REFERENTE</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-lg-6">
                                    <mat-form-field>
                                        <input matInput (keypress)="onKeydownLetter($event)" placeholder="Nombre" formControlName="p_nombre">
                                        <mat-error *ngIf="registerForm.controls['p_nombre'].invalid">
                                            {{ getErrorMessage('p_nombre','required','Por favor ingresa un nombre ') }}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput (keypress)="onKeydownLetter($event)" placeholder="Apellido Materno" formControlName="p_apellido_materno">
                                        <mat-error *ngIf="registerForm.controls['p_apellido_materno'].invalid">
                                            {{ getErrorMessage('p_apellido_paterno','required','Por favor ingresa un apellido materno ') }}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput (keypress)="onKeydownNumber($event)" placeholder="Teléfono" formControlName="p_telefono">
                                        <mat-error *ngIf="registerForm.controls['p_telefono'].hasError('required')">
                                            Ingresa número de Teléfono
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_telefono'].hasError('minlength') && !registerForm.controls['p_telefono'].hasError('required')">
                                            Al menos debe contener 10 dígitos
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col col-lg-6">
                                    <mat-form-field>
                                        <input matInput (keypress)="onKeydownLetter($event)" placeholder="Apellido Paterno" formControlName="p_apellido_paterno">
                                        <mat-error *ngIf="registerForm.controls['p_apellido_paterno'].invalid">
                                            {{ getErrorMessage('p_apellido_paterno','required','Por favor ingresa un apellido paterno ') }}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Correo Electrónico" formControlName="q_email">
                                        <mat-error *ngIf="registerForm.controls['q_email'].hasError('emailWord')">
                                            Correo Inválido
                                        </mat-error>
                                         
                                    </mat-form-field>
                                    <mat-form-field>
                                        <label for="int_carrera2" class="color-gray" >Soy</label>
                                        <mat-select matInput formControlName="int_carrera2" placeholder="Selecciona una opción">
                                            <mat-option *ngFor="let carrera of carreras;" [value]="carrera.name">
                                                {{ carrera.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Cuenta" formControlName="p_cuenta">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End usuario-container -->
        <!-- contacto-container-->
        <div class="contacto-container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">INGRESA LOS DATOS DE TU REFERIDO</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-lg-6">
                                    <mat-form-field>
                                        <input matInput (keypress)="onKeydownLetter($event)" placeholder="Nombre*" formControlName="p_nombre2">
                                        <mat-error *ngIf="registerForm.controls['p_nombre2'].hasError('required')">
                                            Por favor ingresa un nombre 
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_nombre2'].hasError('minlength') && !registerForm.controls['p_nombre2'].hasError('required')">
                                            Al menos debe contener 3 dígitos
                                        </mat-error>
                                        
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput (keypress)="onKeydownLetter($event)" placeholder="Apellido Paterno*" formControlName="p_apellido_paterno2">
                                        <mat-error *ngIf="registerForm.controls['p_apellido_paterno2'].hasError('required')">
                                            Por favor ingresa un apellido paterno
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_apellido_paterno2'].hasError('minlength') && !registerForm.controls['p_apellido_paterno2'].hasError('required')">
                                            Al menos debe contener 3 dígitos
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput (keypress)="onKeydownLetter($event)" placeholder="Apellido Materno*" formControlName="p_apellido_materno2">
                                        <mat-error *ngIf="registerForm.controls['p_apellido_materno2'].hasError('required')">
                                            Por favor ingresa un apellido materno
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_apellido_materno2'].hasError('minlength') && !registerForm.controls['p_apellido_materno2'].hasError('required')">
                                            Al menos debe contener 3 dígitos
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Correo Electrónico*" formControlName="p_email2">
                                        <mat-error *ngIf="registerForm.controls['p_email2'].hasError('email') && !registerForm.controls['p_email2'].hasError('required')">
                                            Correo Inválido
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_email2'].hasError('required')">
                                            Por favor ingresa un correo <strong>válido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input maxlength="10" matInput (keypress)="onKeydownNumber($event)" placeholder="Teléfono*" formControlName="p_telefono2">
                                        <mat-error *ngIf="registerForm.controls['p_telefono2'].hasError('required')">
                                            Ingresa número de Teléfono
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['p_telefono2'].hasError('minlength') && !registerForm.controls['p_telefono2'].hasError('required')">
                                            Al menos debe contener 10 dígitos
                                        </mat-error>
                                    </mat-form-field>
                                    <div class="col-md-12" style="margin-top:20px;">
                                        <mat-radio-group>
                                            <mat-radio-button value="1" style="margin-right:20px;" class="example-margin col-xs-6">Celular</mat-radio-button>
                                            <mat-radio-button value="2" class="example-margin col-xs-6">Casa</mat-radio-button>
                                        </mat-radio-group>
                                    </div>

                                </div>
                                <div class="col col-lg-6">
                                    <mat-form-field>
                                        <label for="int_campus" class="color-gray">Campus*</label>
                                        <mat-select placeholder="Selecciona una opción" formControlName="int_campus">
                                            <mat-option *ngFor="let campu of campus;" [value]="campu.name">
                                                {{ campu.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="registerForm.controls['int_campus'].hasError('required')">
                                            Elige un Campus
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <label for="int_nivel" class="color-gray">Nivel*</label>
                                        <mat-select placeholder="Selecciona una opción" formControlName="int_nivel">
                                            <mat-option *ngFor="let nivel of niveles;" [value]="nivel.name">
                                                {{ nivel.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="registerForm.controls['int_nivel'].hasError('required')">
                                            Elige una Área de Interés
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <label for="int_modalidad" class="color-gray">Modalidad*</label>
                                        <mat-select placeholder="Selecciona una opción" formControlName="int_modalidad">
                                            <mat-option *ngFor="let modalidad of modalidades;" [value]="modalidad.name">
                                                {{ modalidad.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="registerForm.controls['int_modalidad'].hasError('required')">
                                            Elige una Modalidad
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <label for="int_carrera" class="color-gray">Carrera*</label>
                                        <mat-select placeholder="Selecciona una opción" formControlName="int_carrera">
                                            <mat-option *ngFor="let carrera of carreras;" [value]="carrera.name">
                                                {{ carrera.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="registerForm.controls['int_carrera'].hasError('required')">
                                            Elige una Carrera
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End contacto-container -->
        <!-- opcion-container -->
        <div class="opcion-container">
            <div class="row">
                <div class="col col-lg-6 offset-lg-6">
                    <div class="row">
                        <div class="col col-lg-6">
                            <div class="boton-cancelar">
                                <button mat-button type="button" (click)="resetForm()">Cancelar</button>
                            </div>
                        </div>
                        <div class="col col-lg-6">
                            <div class="boton-guardar">
                                <button mat-button type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End opcion-container -->
    </form>
    <!-- end form -->
</div>
<!-- end new-register-container -->