/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css";

body{
	margin:0;
	padding: 0;
	background-color: #F5F5F5;
	font-family: 'Gotham' !important;
	font-size: 16px !important;
}