<div class="menu-container">
    <div class="row">
        <div class="col col-lg-6 offset-lg-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a routerLink="/nuevo-registro">Nuevo Registro</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/nuevo-registro-solovino">Nuevo Registro Solovino</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/general">General</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/referidos-referente">Referidos Referente</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/referidos-promotor">Referidos Promotor</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/referidos-tlmk">Referidos Tlmk</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/referidos-web">Referidos Web</a>
                </li>
            </ul>
        </div>
    </div>
</div>
