<ul class="menus">
  <li><a href="register">Nuevo Registro Inbound</a></li>
  <li><a href="register-existing">Registro Existente</a></li>
  <li><a href="register-existing-reception">Registro Existente Recepción</a></li>
  <li><a href="registerSolo">Nuevo Registro Solovino</a></li>
  <li><a href="registerPromotion">Nuevo Registro (Promotor y Capturista)</a></li>
  <li><a href="referidoReferente">Referidos Onboarding</a></li>
  <li><a href="referidoPromotor">Referidos Promotor</a></li>
  <li><a href="referidoTlmk">Referidos TLMK</a></li>
  <li><a href="referidoWeb">Referido web y empleados</a></li>
  <li><a href="searchInbound">Búsqueda Registro Inbound</a></li>
  <li><a href="search">Búsqueda Registro Recepción</a></li>
  <li><a href="results">Resultados Registro</a></li>  
  <li><a href="login">Acceso</a></li>  
  <li><a href="upload">Carga de base</a></li>
  <li><a href="upload-sis">Carga de base SIS</a></li>
</ul>