.btn_120 {
    font-size: 15px !important;
    text-align: center !important;
    margin-right: 0px;
    width: 120px !important;
}

.btn_170 {
    text-align: center !important;
    margin-right: 0px;
    width: 170px !important;
}